*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

# Firebase & Google Secrets
**/google-services.json
**/firebase-credentials.json

# Local IDE & Gradle caches
.gradle/
.idea/
**/build/

# Apple Certificates, Keys & Base64 Files (¡NUNCA SUBIR A GITHUB!)
private.key
request.certSigningRequest
*.p12
*.pem
*.cer
*.p8
*.mobileprovision
p12_base64.txt
profile_base64.txt
p8_base64.txt